{% extends "wagtailadmin/base.html" %}
{% block titletag %}User progress{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <style>
        table.month {
            margin: 20px;
        }
        table.month td, table.month th {
            padding: 5px;
        }
    </style>
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="User Progress" icon="group" %}

    <div class="nice-padding">

        <table class="listing">
            <tr>
                <th>User</th>
                <th>Course</th>
                <th>Enrolled</th>
            </tr>
            {% for s in steps %}
            <tr>
                <td>{{ s.user }}</td>
                <td>{{ s.course }}</td>
                <td>{{ s.completed }}</td>
            </tr>
            {% endfor %}
    </div>
{% endblock %}