{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags ptr_extras static %}


{% block title_suffix %}
{% endblock %}

{% block meta_title %}{{page.title}}{% endblock %}
{% block meta_description %}{{object.teaser}}{% endblock %}


{% block alttitle %}{{page.title}}{% endblock %}
{% block title %}<h2>Course Summary</h2>{% endblock %}

{% block content %}
{% include 'partials/stream_blocks.html' with blocks=page.content %}

<div class="content">
<h2>Lessons</h2>
<p>These are the lessons available to you. Some parts may be disabled until you have completed the requirements.</p>

{% if request.user.is_authenticated %}
{% if enrolled %}
<p class="green">You are enrolled on this course</p>
{% else %}
<form action={% url 'enrol' %} method="post">
    {% csrf_token %}
    <input type="hidden" name="course_id" value="{{page.id}}">
    <button type="submit" class="button is-primary">Enroll on this course</button>
</form>
{% endif %}
{% endif %}

<div class="columns is-multiline">
{% for lesson in lessons %}
    {% if request.user.is_authenticated %}
    {% with prereq=request.user|pre_requisite:lesson.lesson %}</p>
    <div class="column is-one-quarter">
        <div class="card">
            {% if prereq %}
            <a href="{% pageurl lesson.lesson %}">
            {% endif %}
            <div class="card-image">
            <figure class="image is-4by3">
                <img
                src="https://placehold.co/400x300?text={% if not prereq %}Locked{% else %}Course\nImage{% endif %}"
                alt="Placeholder image"
                />
            </figure>
            <figcaption class="img-overlay">{{lesson.lesson.title}}</figcaption>
            </div>
            {% if prereq %}
            </a>
            {% endif %}
        </div>
    </div>
    {% endwith %}
    {% endif  %}
{% endfor %}
</div>
{% endblock %}