{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags ptr_extras static %}


{% block title_suffix %}
{% endblock %}

{% block meta_title %}{{page.title}}{% endblock %}
{% block meta_description %}{{object.teaser}}{% endblock %}


{% block alttitle %}{{page.title}}{% endblock %}
{% block title %}<h2>Course Summary</h2>{% endblock %}

{% block content %}
{% include 'partials/stream_blocks.html' with blocks=page.content %}

<div class="content">
<h2>Lessons</h2>
<p>These are the lessons available to you. Some parts may be disabled until you have completed the requirements.</p>

{% if enrolled %}
<p class="green">You are enrolled on this course</p>
{% endif %}

<div class="columns is-multiline">
{% for lesson in lessons %}
    <div class="column is-one-quarter">
        <div class="card">
            <a href="{% pageurl lesson.lesson %}">
            <div class="card-image">
            <figure class="image is-4by3">
                <img
                src="https://placehold.co/400x300?text=Course\nImage"
                alt="Placeholder image"
                />
            </figure>
            <figcaption class="img-overlay">{{lesson.lesson.title}}</figcaption>
            </div>
            </a>
            <p>Can access ? {{request.user|pre_requisite:lesson.lesson}}</p>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}