{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags ptr_extras static %}

{% block title_head %}
{{page.title}}
{% endblock %}

{% block title_suffix %}
{% endblock %}

{% block meta_title %}Home{% endblock %}
{% block meta_description %}{{object.teaser}}{% endblock %}

{% block body_class %}home{% endblock %}

{% block header_script %}
{% endblock%}

{% block unfurl %}
<meta property="og:url" content="{{ object.get_site.root_url }}" />
<meta property="og:title" content="Learn @ Photon Ranch" />
<meta property="og:description" content="{{object.teaser}}" />
<meta name="twitter:site" content="@LCO_global" />
{% endblock %}

{% block main-content %}
<section class="section">
    <div class="container">
        <h1>{{page.title}} @ Photon Ranch</h1>
        {% include 'partials/stream_blocks.html' with blocks=page.content %}

        {% for course in courses %}
        <div class="card">
            <div class="card-content">
                <h2>{{course.title}}</h2>
                <p>{{course.teaser}}</p>
                {% if enrolled %}
                <p class="green">You are enrolled on this course</p>
                {% endif %}
                <a href="{% pageurl course %}" class="button">View Course</a>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
