{% extends 'learn/lesson.html' %}
{% load wagtailcore_tags %}

{% block content %}

{% if request.user.is_authenticated %}
{% include 'partials/stream_blocks.html' with blocks=page.content %}
{% else %}
<p class="notification is-warning">
    You must be logged in to view this lesson. 
    <a href="{% url 'login' %}">Login</a> 
{% endif %}

<nav class="level">
    {% if prev %}
    <div class="level-left">
    <p class="level-item">
      <a class="link" href="{% pageurl prev %}">{{prev}}</a>&nbsp;:Previous lesson
    </p>
    </div>
    {% endif %}

    {% if next and not nextlesson and not coursecomplete %}
    <div class="level-right">
    <p class="level-item">
        Next lesson:&nbsp;
      <a class="link" href="{% pageurl next %}">{{next}}</a>
    </p>
    </div>
    {% endif %}
  </nav>
  {% if nextlesson %}
  <p>Start the next lesson: <br/>
      <a class="link" href="{% pageurl next %}">{{next}}</a>
  </p>
{% endif %}
{% if coursecomplete %}
<p>Return to 
    <a class="link" href="{% slugurl 'learn' %}">home page</a>
</p>
{% endif %}

{% endblock %}